input {
    margin: 10px;
  }
button{
    margin: 5px;
    
}
#gifButtons{
    text-align: center;
}

#gifForm{
    text-align: center;
    padding: 45px;
}
body{
    color: #d4d4fc;
    font-family: 'Ubuntu', sans-serif;
    padding: 25px;
    background: url(../images/giphy.gif);
}
h1{
    text-align: center;
    padding-bottom: 25px;
}

/* .btn-primary {
    color: black;
   background-color: #d4d4fc;
   border-color: white;
} */




